
.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-badge{
  font-size : 1.3em;
}
.chauffage-icons{
  font-size: 64px!important;
}

.chauffage-icons-small{
  font-size: 1.2em!important;
}

.chauffage-icons-medium{
  font-size: 2em!important;
}

.heating-feedback-col{
  text-align: center;
}

.pump-active{
  color: #3880ff;
}

.burner-active{
  color: #f04141;
}
ion-range {
  --pin-background: black;
  --pin-color: red;
  --knob-size: 3em;
  --bar-height: 0.2em;
  --height : 6em;
  font-family: sans-serif;
}

