<ion-header>
    <ion-toolbar>
        <ion-title>
            Heater Management
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-row>
                <ion-col offset="8" size="2">
                    <ion-icon class="chauffage-icons-small" name="thermometer" color="danger"></ion-icon><br>
                    <ion-label color="danger" class="chauffage-icons-small">{{heatingService.$temperature|async}}&nbsp;C</ion-label>
                </ion-col>
                <ion-col  size="2">
                    <ion-icon class="chauffage-icons-small" name="water" color="primary"></ion-icon><br>
                    <ion-label color="primary" class="chauffage-icons-small">{{heatingService.$humidity|async}}&nbsp;%</ion-label>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="heatingService.$manualMode|async">
        <ion-card-header>
            Manual Controls
        </ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col size="6" class="heating-feedback-col" *ngIf="heatingService.$pumpStatus|async">
                    <ion-icon class="chauffage-icons" name="aperture"  color="secondary"></ion-icon><br>
                    <ion-button color="secondary" (click)="setPumpStatus(false)">De-activate<br>pump</ion-button>
                </ion-col>
                <ion-col size="6" class="heating-feedback-col" *ngIf="!(heatingService.$pumpStatus|async)">
                    <ion-icon class="chauffage-icons" name="aperture"></ion-icon><br>
                    <ion-button color="medium" (click)="setPumpStatus(true)">Activate<br>pump</ion-button>
                </ion-col>

                <ion-col size="6" class="heating-feedback-col" *ngIf="heatingService.$burnerStatus|async">
                    <ion-icon class="chauffage-icons" name="flame" color="danger"></ion-icon><br>
                    <ion-button color="danger" (click)="setBurnerStatus(false)">De-activate<br>burner</ion-button>
                </ion-col>
                <ion-col size="6" class="heating-feedback-col" *ngIf="!(heatingService.$burnerStatus|async)">
                    <ion-icon class="chauffage-icons" name="flame"></ion-icon><br>
                    <ion-button color="medium" (click)="setBurnerStatus(true)">Activate<br>burner</ion-button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>
